fastapi
uvicorn
sqlalchemy
psycopg2-binary
langchain
langchain-community
langchain-openai
langchain-postgres
alembic
pydantic[email]
pydantic-settings
python-jose[cryptography]
# passlib
bcrypt
httpx
jinja2
python-multipart
openai
tiktoken
pgvector
pypdf
unstructured
google-ads
facebook_business
langchain-google-genai
